{% load staticfiles %}
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'css/scheduler.css' %}">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>

<body>
	{# top menu #}
	<nav class="navbar fixed-top navbar-expand-md navbar-dark bg-teal">
  		<div class="container">
  			<a class="navbar-brand" href="./">MS4 Planner</a>
  			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
  				<span class="navbar-toggler-icon"></span>
  			</button>
  			<div class="collapse navbar-collapse" id="navbarCollapse">
  				<!-- left navigation links -->
  				<ul class="navbar-nav mr-auto">
  					<!-- active navigation link -->
  					<li class="nav-item">
  						<a class="nav-link" href="./">Home
  						</a>
  					</li>
  					<!-- regular navigation link -->
  					<li class="nav-item active">
  						<a class="nav-link" href="#">About</a>
  							<span class="sr-only">(current)</span>
  					</li>
  				</ul>
  			</div>
  		</div>
	</nav>

	<main role="main" class="container">
	</main>

</body>
</html>