{% load staticfiles %}
<html>
<head>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/scheduler.css' %}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    
    <script>
        $(document).ready(function() {

      
            ////////// Event handlers ///////////


            $('.close').click(function () {
                // dismiss alert
                $(this).closest('.alert').fadeOut();
                return false;
            });

            $('#prev_program').click(function () {
                //TODO
            });

            $('#next_program').click(function () {
                //TODO
            });

            $('.act_slot_selector').change(function() {
                // display selected slots for each activity
                $(this).parent().next().find('.selected_slots').val($(this).val().join("\n"));
            }); 

            $('#add_activity').click(function () {
                // clone an activity line
                var last_activity = $('.activity').last();
                var new_activity = last_activity.clone(true);

                // reset values
                new_activity.find("input[type='text']").val("");
                new_activity.find(".selected_slots").val("");
                new_activity.find("select.act_slot_selector").val([]);

                // add another line to the form
                new_activity.hide();
                new_activity.find('.remove_activity').removeClass('hidden');
                new_activity.insertAfter(last_activity);
                new_activity.before('<div class="act_spacer spacer20"></div>');
                new_activity.fadeIn();
                return false;
            });    

            $('.remove_activity').click(function () {
                // remove current activity line
                $(this).closest('.activity').fadeOut(400, function () {
                    $(this).prev('.act_spacer').remove();
                    $(this).closest('.activity').remove();
                });
                return false;
            });

            
            ////////// Form submit ///////////


            $('#generate').click(function () {
                var activities = {};
                var valid = true;

                // dismiss success msg
                $('.alert-success').fadeOut();

                // iterate over all activities
                $('.activity').each(function(index) {
                    // store values
                    activities["size"] = index + 1;
                    activities["code_" + index] = $(this).find('.act_code').val();
                    activities["name_" + index] = $(this).find('.act_name').val();
                    activities["category_" + index] = $(this).find('.act_category').val();
                    activities["slots_" + index] = $(this).find('.act_slot_selector').val();
                    activities["length_" + index] = $(this).find('.act_length').val();

                    // process time slots
                    for (var i = 0; i < activities["slots_" + index].length; i++) {
                        activities["slots_" + index][i] = activities["slots_" + index][i].replace(" (", "_").replace(")", "");
                    }

                    // validate values
                    if (activities["code_" + index].trim() == "" || activities["name_" + index].trim() == "" || 
                        activities["category_" + index] == null || activities["slots_" + index].length == 0 || 
                        activities["length_" + index] == null) {
                        // if blank, break and report error
                        setAlert('.alert-danger', "Fill out missing info or remove activity number " + (index + 1) + ".")
                        valid = false;
                        return false;
                    }
                });

                // data is valid
                if (valid) {
                    // dismiss alert - error
                    $('.alert-danger').fadeOut();

                    // remove later TODO
                    console.log(JSON.stringify(activities));

                    // ajax post
                    $.ajax({
                        url: "/scheduler/ajax/generate_programs",
                        type: "POST",
                        data: JSON.stringify(activities),
                        dataType: 'json',
                        success: function(data, status) {
                            
                            console.log(data);

                            if (data.success) {
                                setAlert('.alert-success', "Your program options are ready to be viewed.");
                            } else {
                                setAlert('.alert-danger', "There are no viable programs that meet your requirements.");
                            }
                        },
                        error: function(xhr, errmsg, err) {
                            setAlert('.alert-danger', "Unexpected error. Please reload the page and try again.");
                            console.log(err);
                        }
                    });
                }

                return false;
            });


            ////////// Helpers ////////////

            function setAlert(id, msg) {
                var alert = $(id);
                alert.find("strong").text(msg);
                alert.fadeIn();
            }


            ////////// Ajax setup //////////


            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

            var csrftoken = getCookie('csrftoken');

            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }

            $.ajaxSetup({
                crossDomain: false, // obviates need for sameOrigin test
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type)) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });

        });
    </script>

</head>

<body>
    {# top menu #}
    <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-teal">
            <div class="container">
                <a class="navbar-brand" href="#">MS4 Planner</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <!-- left navigation links -->
                    <ul class="navbar-nav mr-auto">
                        <!-- active navigation link -->
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <!-- regular navigation link -->
                        <li class="nav-item">
                            <a class="nav-link" href="./about">About</a>
                        </li>
                    </ul>
                </div>
            </div>
    </nav>

    <main role="main" class="container">
        {# alerts #}
        <div class="alert alert-success alert-custom hidden" role="alert">
            <a href="#" class="close">&times;</a>
            <strong>Success!</strong>
        </div>
        <div class="alert alert-danger alert-custom hidden" role="alert">
            <a href="#" class="close">&times;</a>
            <strong>Error!</strong>
        </div>

        {# calendar #}
        <div id="schedule">

            {# row 1 months #}
            <div class="row">
                <div class="col-md-1">
                </div>
                {% for month in row_1_months %}
                    <div class="col-md-2 month center">
                        {{ month }}
                    </div>
                {% endfor %}
            </div>

            {# row 1 classes #}
            <div class="row">
                <div class="col-md-1">
                </div>
                {% for month in row_1_activities %}
                    <div class="col-md-2 week_block center">
                    {% for week in month %}
                        <div class="week">
                            {{ week }}
                        </div>
                    {% endfor %}
                    </div>
                {% endfor %}    
            </div>

            <div class="spacer20"></div>

            {# row 2 headings #}
            <div class="row">
                <div class="col-md-1">
                </div>
                {% for month in row_2_months %}
                    <div class="col-md-2 month center">
                        {{ month }}
                    </div>
                {% endfor %}
            </div>

            {# row 2 classes #}
            <div class="row">
                <div class="col-md-1">
                </div>
                {% for month in row_2_activities %}            
                    <div class="col-md-2 week_block center">
                    {% for week in month %}
                        <div class="week">
                            {{ week }}
                        </div>
                    {% endfor %}
                    </div>
                {% endfor %}    
            </div>

            <div class="spacer20"></div>

            {# row 3 headings #}
            <div class="row">
                <div class="col-md-1">
                </div>
                {% for month in row_3_months %}
                    <div class="col-md-2 month center">
                        {{ month }}
                    </div>
                {% endfor %}
            </div>

            {# row 3 classes #}
            <div class="row">
                <div class="col-md-1">
                </div>
                {% for month in row_3_activities %}            
                    <div class="col-md-2 week_block center">
                    {% for week in month %}
                        <div class="week">
                            {{ week }}
                        </div>
                    {% endfor %}
                    </div>
                {% endfor %}    
            </div>

        </div>

        {# next, prev navigation #}
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-5">
                <a href="#" id="prev_program">&larr; Previous</a>
            </div>
            <div class="col-md-4">
                <a href="#" id="next_program">Next &rarr;</a>
            </div>
        </div>

        <div class="spacer20"></div>
        <hr>
        <div class="spacer20"></div>

        {# data entry section #}
        <div class="container">
            {# section headings #}
            <div class="row activity_header">
                <div class="col-md-1 mb-2">
                    <h5>Code</h5>
                </div>
                <div class="col-md-3 mb-2">
                    <h5>Name</h5>
                </div>
                <div class="col-md-2 mb-2">
                    <h5>Category</h5>
                </div>
                <div class="col-md-2 mb-2">
                    <h5>Start weeks</h5>
                </div>
                <div class="col-md-2 mb-2">
                    <h5></h5>
                </div>
                <div class="col-md-2 mb-2">
                    <h5>Length</h5>
                </div>
            </div>

            {# data inputs #}
            <div class="activity">
                <div class="row">
                    <div class="col-md-1 mb-4">
                        <input type="text" class="act_code form-control" style="width:100%;">
                    </div>
                    <div class="col-md-3 mb-4">
                        <input type="text" class="act_name form-control" style="width:100%;">
                    </div>
                    <div class="col-md-2 mb-4">
                        <select class="act_category form-control" style="width:100%;">
                            <option value="" disabled selected>Select...</option>
                            <option value="class">Class</option>
                            <option value="rotation">Rotation</option>
                            <option value="custom">Custom</option>
                        </select>
                    </div>
                    <div class="col-md-2 mb-4">
                        <select class="act_slot_selector form-control" multiple>
                            {% for week in all_weeks %}
                                <option value="{{ week }}">{{ week }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-2 mb-4">
                        <textarea class="form-control selected_slots" disabled></textarea>
                    </div>
                    <div class="col-md-2 mb-4">
                        <select class="act_length form-control">
                            <option value="" disabled selected>Select...</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                        <a href="#" class="close remove_activity hidden">&times;</a>
                    </div>            
                </div>
            </div>

            {# add line #}
            <div class="row add_link">
                <div class="col-md-0">
                    <a href="#" id="add_activity">&plus; Add another</a>
                </div>
            </div>
        </div>

        <div class="spacer20"></div>

        {# generate schedules #}
        <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-2">
                {% csrf_token %}
                <button type="button" class="btn btn-info" id="generate">Generate Schedules</button>
            </div>
        </div>

        <div class="spacer50"></div>

    </main>

    <footer>
    </footer>

</body>
</html>