{% load staticfiles %}
<html>
<head>
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'css/scheduler.css' %}">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	
	<script>
		$(document).ready(function() {

			var activity_index = 0; // for adding lines

			$('#prev_program').click(function () {
				//TODO
			});

			$('#next_program').click(function () {
				//TODO
			});

		    $('.slot_selector').change(function() {
		    	// display selected slots for each activity
		        $(this).next('.selected_slots').text($(this).val().join(", "));
		    }); 

			$('#add_activity').click(function () {
				// add another line to the form
				activity_index++;

				var last_activity = $('.activity').last();

				last_activity.clone(true).insertAfter(last_activity);
				
				return false;
			});    

			$('.remove_activity').click(function () {
				// remove current activity line
				activity_index--;
				$(this).closest('.activity').remove();
				return false;
			});

			$('#generate').click(function () {
				// TODO - ajax?
				return false;
			});

		});
	</script>

</head>

<body>
	{# top menu #}
	<nav class="navbar fixed-top navbar-expand-md navbar-light bg-light">
  		<div class="container">
  			<a class="navbar-brand" href="#">MS4 Planner</a>
  			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
  				<span class="navbar-toggler-icon"></span>
  			</button>
  			<div class="collapse navbar-collapse" id="navbarCollapse">
  				<!-- left navigation links -->
  				<ul class="navbar-nav mr-auto">
  					<!-- active navigation link -->
  					<li class="nav-item active">
  						<a class="nav-link" href="#">Home
  							<!-- TODO -->
  							<span class="sr-only">(current)</span>
  						</a>
  					</li>
  					<!-- regular navigation link -->
  					<li class="nav-item">
  						<a class="nav-link" href="#">About</a>
  						<!-- TODO -->
  					</li>
  				</ul>
  			</div>
  		</div>
	</nav>

	<main role="main" class="container">
		{# alerts #}
		<div class="alert alert-success alert-dismissable fade show" role="alert">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<strong>Success!</strong>
		</div>
		<div class="alert alert-danger alert-dismissable fade show" role="alert">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<strong>Error!</strong>
		</div>

		{# calendar #}
		<div id="schedule">

			{# row 1 months #}
			<div class="row">
				{% for month in row_1_months %}
				<div class="col-md-2 month">
					{{ month }}
				</div>
				{% endfor %}
			</div>

			{# row 1 classes #}
			<div class="row">
				{% for month in row_1_activities %}
					<div class="col-md-2 week_block">
					{% for week in month %}
						<div class="week">
							{{ week }}
						</div>
					{% endfor %}
					</div>
				{% endfor %}	
			</div>

			<div class="spacer20"></div>

			{# row 2 headings #}
			<div class="row">
			{% for month in row_2_months %}
				<div class="col-md-2 month">
					{{ month }}
				</div>
			{% endfor %}
			</div>

			{# row 2 classes #}
			<div class="row">
				{% for month in row_2_activities %}			
					<div class="col-md-2 week_block">
					{% for week in month %}
						<div class="week">
							{{ week }}
						</div>
					{% endfor %}
					</div>
				{% endfor %}	
			</div>

			<div class="spacer20"></div>

			{# row 3 headings #}
			<div class="row">
			{% for month in row_3_months %}
				<div class="col-md-2 month">
					{{ month }}
				</div>
			{% endfor %}
			</div>

			{# row 3 classes #}
			<div class="row">
				{% for month in row_3_activities %}			
					<div class="col-md-2 week_block">
					{% for week in month %}
						<div class="week">
							{{ week }}
						</div>
					{% endfor %}
					</div>
				{% endfor %}	
			</div>

		</div>

		{# next, prev navigation #}
		<div class="row">
			<div class="col-md-2">
			</div>
			<div class="col-md-6">
				<a href="#" id="prev_program">Previous</a>
			</div>
			<div class="col-md-4">
				<a href="#" id="next_program">Next</a>
			</div>
		</div>

		<div class="spacer50"></div>

		{# data entry section #}
		<div class="container">
			{# section headings #}
			<div class="row activity_header">
				<div class="col-md-1 mb-2">
					<h5>Code</h5>
				</div>
				<div class="col-md-3 mb-2">
					<h5>Name</h5>
				</div>
				<div class="col-md-2 mb-2">
					<h5>Category</h5>
				</div>
				<div class="col-md-2 mb-2">
					<h5>Year</h5>
				</div>
				<div class="col-md-2 mb-2">
					<h5>Slots</h5>
				</div>
				<div class="col-md-1 mb-2">
					<h5>Length</h5>
				</div>
			</div>

			{# data inputs #}
			<div class="activity">
				<div class="row">
					<div class="col-md-1 mb-4">
						<input type="text" id="code_0" style="width:90%;">
					</div>
					<div class="col-md-3 mb-4">
						<input type="text" id="name_0" style="width:90%;">
					</div>
					<div class="col-md-2 mb-4">
						<select id="category_0">
							<option value="" disabled selected>Select...</option>
						 	<option value="class">Class</option>
						 	<option value="rotation">Rotation</option>
						  	<option value="custom">Custom</option>
						</select>
					</div>
					<div class="col-md-2 mb-4">
						<select id="year_0">
							<option value="" disabled selected>Select...</option>
						 	<option value="{{ fall_year }}">{{ fall_year }}</option>
						 	<option value="{{ spring_year }}">{{ spring_year }}</option>
						</select>
					</div>
					<div class="col-md-2 mb-4">
						<select id="slots_0" class="slot_selector" multiple>
							{% for week in all_weeks %}
								<option value="{{ week }}">{{ week }}</option>
							{% endfor %}
						</select>
						<span class="selected_slots"></span>
					</div>
					<div class="col-md-1 mb-4">
						<select id="length_0">
							<option value="" disabled selected>Select...</option>
						 	<option value="1">1</option>
						 	<option value="2">2</option>
						  	<option value="3">3</option>
						  	<option value="4">4</option>
						</select>
					</div>
					<div class="col-md-1 mb-4">
						<a href="#" class="close remove_activity">&times;</a>
					</div>
				</div>
			</div>

			{# add line #}
			<div class="row add_link">
				<div class="col-md-0">
					<a href="#" id="add_activity">&plus; Add another</a>
				</div>
			</div>
		</div>

		<div class="spacer20"></div>

		{# generate schedules #}
		<div class="row">
			<div class="col-md-5"></div>
			<div class="col-md-2">
				<button type="button" id="generate">Generate Schedules</button>
			</div>
		</div>

		<div class="spacer50"></div>

	</main>

	<footer>
	</footer>

</body>
</html>