
body {
  padding-top: 60px;
}

.content-mobile {
    display: none !important;
}

#schedule {
    margin-top: 1em;
    margin-bottom: 1em;
}

@media only screen and (max-width: 767.9px) {
    body {
        padding-top: 30px;
    }

    #schedule {
        margin-top: 0px;
    }

    .content-desktop {
        display: none !important;
    }

    .content-mobile {
        display: inline !important;
    }
}

.flex-link {
    display: flex !important;
    align-items: center;
}

.spacer20 { 
    margin: 0; 
    padding: 0; 
    height: 1.2em; 
}

.spacer50 { 
    margin: 0; 
    padding: 0; 
    height: 2.5em; 
}

.month {
    border: 1px solid white;
    background-color: lightblue;
    border-radius: 0.4em;
}

.week {
    border: 1px solid white;
    width: 25%;
    float: left;
    background-color: lightgoldenrodyellow;
    border-radius: 0.4em;
}

.activity_display {
    border: 1px solid white;
    width: 25%;
    float: left;
    overflow-wrap: break-word;
    background-color: #eceff1;
    border-radius: 0.4em;
    font-size: smaller;
}

.week_block {
    padding: 0px !important;
}

.activity_block {
    padding: 0px !important;
}

select.form-control {
    padding: 0.15em !important;
}

input.form-control {
    padding-top: 0.35em !important;
    padding-left: 0.25em !important;
    padding-right: 0.25em !important;
    padding-bottom: 0.35em !important;
}

.act_length {
    width: 70% !important;
    float: left;
}

.remove_activity {
    float: right;
}

.selected_slots {
    height: 5em;
}

textarea.form-control {
    resize: none !important;
    padding: 0.35em !important;
    padding-left: 0.25em !important;
    padding-right: 0.15em !important;
    padding-bottom: 0.35em !important;
}

.center {
    text-align: center;
}

.right {
    text-align: right !important;
}

.float-r {
    float: right;
}

.float-l {
    float: left;
}

.activity {
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    background-color: lightgoldenrodyellow;
}

.activity_header {
    padding-left: 1em;
    padding-right: 1em;
    color: #BF9B19;
}

.txt-gold {
    color: #BF9B19
}

.add_link {
    padding-left: 1em;
    padding-top: 1em;
}

.hidden {
    display: none;
}

.alert-custom {
    position: fixed !important;
    top: 3.5em;
    left: 0;
    width: 100%;
    z-index: 999;
}

.bg-teal {
    background-color: #138496;
}

.bg-light-gray {
    background-color: #eceff1;
}

hr {
    color: #138496;
    border-color: #138496;
    background-color: #138496;
}

.copy_program {
    display: inline;
    float: right;
}

.txt-w {
    color: white !important;
}

.loading {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
    z-index: 1040;
}

.loading-wheel {
    width: 20px;
    height: 20px;
    margin-top: -40px;
    margin-left: -40px;
    
    position: absolute;
    top: 50%;
    left: 50%;
    
    border-width: 30px;
    border-radius: 50%;
    -webkit-animation: spin 1s linear infinite;
}

.style-2 .loading-wheel {
    border-style: double;
    border-color: #ccc transparent;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(-360deg);
    }
}